* {
    padding: 0px;
    margin: 0px;
}

.bg {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/028209dc8f614bda9a7ea8af3dbad798.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}